<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="AirplanesDBEntities" connectionString="(localdb)\MSSQLLocalDB" providerName="System.Data.SqlClient" /><add name="AirplanesDBEntities1" connectionString="metadata=res://*/DataAccess.DbFirstModel.AirplaneDBModel.csdl|res://*/DataAccess.DbFirstModel.AirplaneDBModel.ssdl|res://*/DataAccess.DbFirstModel.AirplaneDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AirplanesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>