<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="AirplanesDBEntities" connectionString="metadata=res://*/DataAccess.DbFirstModel.AirplanesDbModel.csdl|res://*/DataAccess.DbFirstModel.AirplanesDbModel.ssdl|res://*/DataAccess.DbFirstModel.AirplanesDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AirplanesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>